.additional-card__title {
  margin: 0 0 13px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-nero;
  text-transform: uppercase;
}

.additional-card__properties {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-lato;
  color: $color-charcoal;
}
