.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px 44px;

  color: $color-default-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;
  min-height: 40px;
}

.button--program-selection {
  @media (min-width: $tablet-width) {
    max-width: 244px;
    padding: 14px 26px;

    font-size: 20px;
    line-height: 20px;
  }
}
