.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  padding: 7px;

  color: $color-default-white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-apple;
  border: none;
}

.button:hover {
  background-color: $color-atlantis;
}

.button:active {
  background-color: $color-atlantis;
  color: $color-white-active;
}
