.comment__wrapper {
  margin: 0;
  padding: 0 0 20px 0;
}

.comment__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: capitalize;
}
