.get-gift {
  position: relative;
  z-index: 0;

  padding: 186px 50px 40px 50px;

  text-align: center;

  background-color: $color-nobel;
  background-image: url("../img/backgrounds/cat-case.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.get-gift::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: $color-apple;
  opacity: 0.85;
}

.get-gift__description {
  position: relative;
  z-index: 2;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  color: $color-default-white;
}
