.get-gift {
  padding: 186px 50px 40px 50px;

  text-align: center;

  background-color: $color-nobel;
  background-image: url("../img/backgrounds/cat-case.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-gift__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  color: $color-default-white;
}
