@import "../global/variables.scss";
@import "../global/fonts.scss";

.get-a-gift {
  padding: 186px 50px 40px 50px;

  background-color: $color-nobel;
  background-image: url("/source/img/backgrounds/cat-case.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.get-a-gift__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  text-align: center;
  color: $color-default-white;
}
