.main-header {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 24px 0 0 0;
    grid-template-columns: 174px 1fr;
    gap: 94px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0 0;
    display: flex;
  }
}

.main-header__logo {
  margin: 10px 0 17px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}
