.product-card {
  display: flex;
  flex-direction: column;
  padding: 19px 0 25px 0;
  border-top: 1px solid $color-whisper-3;
  border-bottom: 1px solid $color-whisper-3;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 8px 36px 36px 36px;
    border: none;
    min-height: 430px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 16%;
      left: 0;
      width: 100%;
      height: 84%;
      background-color: $color-white-smoke;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 1px 38px 40px 39px;
    border: none;
    min-height: 511px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 16%;
      left: 0;
      width: 100%;
      height: 84%;
      background-color: $color-white-smoke;
      z-index: -1;
    }
  }
}

.product-card--show-all {
  padding: 25px 0 25px 0;

  @media (min-width: $tablet-width) {
    border: 2px solid $color-white-smoke;
    background-color: $color-default-white;
    padding: 52px 37px 38px 38px;
  }

    @media (min-width: $desktop-width) {
    border: 2px solid $color-white-smoke;
    background-color: $color-default-white;
    padding: 51px 38px 41px 38px;
  }
}

.product-card__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 0 0 33px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0 0 33px 0;
  }
}

.product-card__image {
  display: block;
  margin: auto;
}

.product-card__text {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product-card__title {
  margin: 0 0 18px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  max-width: 80px;

  @media (min-width: $tablet-width) {
    margin: 0 0 15px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 150px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px 0;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    max-width: 150px;
  }
}

.product-card__title--show-all {
  max-width: 100%;
  margin: 23px 0 8px 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 49px 0 23px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 49px 0 23px 0;
  }
}

.product-card__characterisrics-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.product-card__characteristics-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 6px 0 9px 0;
    border-bottom: 1px solid $color-very-light-grey;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding: 5px 5px 8px 5px;
    border-bottom: 1px solid $color-very-light-grey;
  }
}

.product-card__description {
  margin: 0 0 21px 0;
  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 87px 0;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 87px 0;
    font-size: 16px;
    line-height: 18px;
  }
}

.product-card__icon-plus {
  margin: 0 auto;
}
