.program-selection {
  background-color: $color-apple;
  background-image: url("../img/backgrounds/program-selection-background.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 150%;
  padding: 27px 0 20px 0;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $color-default-white;
    padding: 62px 150px 526px 90px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-default-white;
    padding: 114px 300px 185px 80px;
  }
}

.program-selection__wrapper {
  display: block;
  margin: 0;

  text-align: center;
}

.program-selection__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-default-white;
  margin: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 41px 0;
  }

  @media (min-width: $desktop-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 40px 0;
  }
}

.program-selection__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $color-default-white;
  text-transform: uppercase;
  margin: 0 0 302px 0;

  @media (min-width: $tablet-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    color: $color-default-black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 52px 0;
  }
}
