.result {
  padding: 25px 0 40px 0;
  overflow: hidden;

  background-color: $color-whisper;

  @media (min-width: $tablet-width) {
    background-color: $color-default-white;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.result__title {
  margin: 0 0 40px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 63px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 76px 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.result__info {
  position: relative;
  z-index: 1;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 200vw;
      height: 100%;

      background-color: $color-whisper;
      transform: translateX(-50%);
    }
  }
}

.result__description {
  margin: 0 0 20px 0;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;

    font-size: 16px;
    line-height: 24px;
  }
}

.result__expense {
  display: block;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    text-align: right;
  }
}

.result__statistics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result__statistics-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 22px 15px 22px;

  text-align: center;
}

.result__statistics-quantity {
  margin-bottom: 7px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.result__statistics-description {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
}

.result__slider {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: $color-whisper;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: none;
    }
  }
}
