@import "../global/variables.scss";
@import "../global/fonts.scss";

.result {
  display: flex;
  flex-direction: column;

  background-color: $color-whisper;
}

.result__wrapper {
  margin: 0;
  padding: 25px 20px 40px 20px;
}

.result__title {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.result__description {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-lato;
  color: $color-charcoal;
}

.result__expense {
  display: block;

  line-height: 20px;
  text-align: center;
}
