.selection-form {
  @media (min-width: $tablet-width) {
    padding: 60px 40px 72px 40px;
  }
}

.selection-form__group {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.selection-form__note {
  display: block;
  font-family: $ff-lato;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 64px;
  }
}
