.selection-form {
  @media (min-width: $tablet-width) {
    padding: 60px 40px 72px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 72px 0;
  }
}

.selection-form__group {
  padding: 0 0 32px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.selection-form__note {
  display: block;
  font-family: $ff-lato;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 64px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 84px;
  }
}
