@import "./fonts.scss";

// Colors
$color-default-black: #000000;
$color-default-white: #ffffff;
$color-apple: #68b738;
$color-charcoal: #444444;
$color-white-smoke: #f2f2f2;
$color-whisper: #eaeaea;
$color-black: #111111;
$color-nero: #222222;
$color-nobel: #9d9d9d;

// Fonts
$ff-oswald: "Oswald", "Arial", sans-serif;
$ff-lato: "Lato", "Arial", sans-serif;
